/* src/index.css */

/* minimal resets */
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background: #071126;
}
a {
  color: inherit;
}
